<%= form_for [@restaurant, @menu] do |f| %>
<form role="form">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name%>
  </div>
  <div class="form-group">
    <%= f.label :meal_type, 'Lunch', value: 'lunch' %>
    <%= f.radio_button :meal_type,'Lunch',value: 'lunch' %>
    <%= f.label :meal_type, 'Dinner', value: 'dinner' %>
    <%= f.radio_button :meal_type, 'Dinner',value: 'dinner', checked: true %>
  </div>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <%= f.submit%>
</form>
<%end%>
