<p>
  <%=@customer.first_name %> <%=@customer.last_name %>  has just ordered the following meal in the app:
</p>
<ul>
  <li>Entree: <%=@entree.name %></li>
  <li>Side: <%=@side.side_item %></li>
  <li>Customer pickup time: <%=(@meal.created_at + 25.minutes).strftime("%I:%M%p")%></li>
</ul>
<p>
  Please mark the meal as received.
</p>
