<div class="container larger-screen main-container">
  <%= form_for @customer do |f| %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div class="form-group">
      <%= f.label :year %>
      <%= f.select :year, options_for_select([['1st Year', 1], ['2nd Year', 2], ['3rd Year', 3], ['4th Year', 4], ['Grad', 5], ['Other', 6]]) %>
    </div>
    <div class="form-group">
      <%= f.label :plan %>
      <%= f.select :plan, options_for_select([['3', 3], ['15', 15], ['45', 45], ['75', 75], ['105', 105]]) %>
    </div>

    <%= f.submit%>
  <%end%>
</div>
