<div class="jumbotron vertical-center">
  <h2>Customers <% if current_user.role == "admin"%><%= link_to "(+)", new_customer_path %><%end%></h2>
  <%@customers.each do |customer| %>
    <%=link_to customer.name, customer_path(customer) %>
    <%=customer.verification %>
    <%= form_for [customer] do |f| %>
      <%= f.hidden_field :verification, value: "true" %>
      <%= f.submit "Approve"%>
    <%end%>
  <%end%>
</div>
