<div class="jumbotron vertical-center">
  <h2>
    <%="#{@customer.first_name} #{@customer.last_name}"%>
    <% if current_user.role === "admin" %>
      <%= link_to "Edit", edit_customer_path(@customer), class:  "btn btn-default"%>
    <%end%>
  </h2>
  <div class="mealPlan">
    <ul>
      <li>Plan selected: <%=@customer.plan %></li>
      <li class="meals_remaining">Meals remaining: <%=@meals_remaining %></li>
    </ul>
  </div>
  <% flash.each do |type, message| %>
    <p class="<%= type %>"><%= message %></p>
  <% end %>
  <% if current_user.role === "admin"%>
    <%= link_to "Delete", customer_path(@customer), class: "btn btn-default", data: { confirm: 'Are you sure you want to submit this meal?' }, method: :delete%>
  <%end%>
  <!-- Business Hours -->
  <h3>Restaurants</h3>
  <%if @meals_remaining > 0 && @customer.verification === "true"%>
    <%@restaurants.each do |restaurant| %>
      <%if restaurant.active == true && (restaurant.is_open_one? || restaurant.is_open_two?)%>
        <div class="restaurant">
          <h3><%=restaurant.name%></h3>
          <div id="hours" >
            <p>Today's Hours:<%=restaurant.opening_time_view(0)%>-<%=restaurant.closing_time_view(0)%>
              <%if (restaurant.check_business_hours_count_equals(2))%>
                & <%=restaurant.opening_time_view(1)%>-<%=restaurant.closing_time_view(1)%>
              <%end%>
            </p>
          </div>
          <div id="phone" class="btn btn-primary">
            <a href="tel:<%=restaurant.phone%>">Call: <%=restaurant.phone%></a>
          </div>
          <div id="scroll_to_menu" class="btn btn-primary">
            <a href="#menu">Full menu</a>
          </div>
          <div class="container">
            <div class="row">
              <%= form_for [@customer,@meal], html: {id: "#{restaurant.id}"} do |f| %>
                <div class="col-xs-12 col-md-6-offset-1">
                  <%= f.grouped_collection_select(:food_item, restaurant.categories, :menus, :name, :id, :name, { :include_blank => '-- Entree --' }, :required => true) %>
                  <%= f.select(:side, {},{ :include_blank => '-- Side --' }, {id:(restaurant.id.to_s + "sides"), :required => true} )%>
                  <%= f.text_field :comment, placeholder: "meal requests..." %>
                  <%= f.hidden_field :restaurant_id, value: restaurant.id %>
                </div>
                <div class="order_ahead col-xs-12 col-sm-12">
                  <%if restaurant.in_restaurant_payment === true%>
                    <%= f.label :order_ahead, 'Pay in restaurant', value: 'swipe' %>
                    <%= f.radio_button :order_ahead, 'swipe',value: 'swipe', checked: true %>
                  <%end%>
                </div>
                <div class="order_ahead col-xs-12 col-sm-12">
                  <%if restaurant.order_ahead === true%>
                    <%= f.label :order_ahead, 'Order in advance', value: 'order_ahead' %>
                    <%if restaurant.in_restaurant_payment === false%>
                      <%= f.radio_button :order_ahead, 'order_ahead',value: 'order_ahead', checked: true %>
                    <%else%>
                      <%= f.radio_button :order_ahead, 'order_ahead',value: 'order_ahead' %>
                    <%end%>
                  <%end%>
                  <%= f.hidden_field :status, value: "open" %>
                </div>
                <div id="submit_btn">
                  <%= f.submit "Submit meal", class: "btn btn-primary", data: { confirm: 'Are you sure you want to submit this meal?' } %>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    <%end%>
  <%elsif @customer.verification === nil%>
    <%="Your account hasn't been verified yet. Please email us and we'll get you set up right away!"%>
  <%else%>
    <%="You're out of meals, please purchase more in order to continue"%>
  <%end%>
  <h3>Closed Restaurants:</h3>
  <%@restaurants.each do |restaurant| %>
    <% if restaurant.active == true && restaurant.is_closed?%>
      <div class="restaurant">
        <div id="closed_restaurants">
          <%unless restaurant.has_business_hours?%>
            <p><%=restaurant.name %>: Unavailable Right Now</p>
          <%else%>
            <p><%=restaurant.name %> Hours Today: <%=restaurant.opening_time_view(0)%>-<%=restaurant.closing_time_view(0)%>
              <%if (restaurant.check_business_hours_count_equals(2))%>
                & <%=restaurant.opening_time_view(1)%>-<%=restaurant.closing_time_view(1)%>
              <%end%>
            </p>
          <%end%>
        </div>
      </div>
    <%end%>
<%end%>
<h3>Meals:</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <th>Meal #</th>
    <th>Date/Time</th>
    <th>Status</th>
    <th>Restaurant</th>
    <th>Meal</th>
    <th>Type</th>
    <%if current_user.role === "admin"%>
      <th>Cancel if open</th>
    <%end%>
    <%@meals.each do |meal| %>
      <tr>
        <td><%=meal.id%></td>
        <td><%=meal.created_at.strftime("%-m/%e/%y %l:%M%p")%></td>
        <td><%=meal.status%></td>
        <td><%=Restaurant.find(meal.restaurant_id).name%></td>
        <td>
          <%if Menu.exists?(meal.food_item) %>
            <%=Menu.find(meal.food_item).name%>
          <%end%>
        </td>
        <td>
          <% if meal.order_ahead === "swipe"%>
            In Restaurant
          <% elsif meal.order_ahead === "order_ahead"%>
            Ordered Ahead
          <%end%>
        </td>
        <% if current_user.role === "admin"%>
          <td>
            <%= link_to "Cancel", customer_meal_path(@customer, meal), class: "btn btn-default", method: :delete%>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>
<div class="menu_header">
  <h3>Full Menus:</h3>
  <div id="back_to_top" class="btn btn-primary">
    <a href="#top">Back to restaurants</a>
  </div>
  <div class="col-xs-12">
  </div>
  <%@restaurants.each do |restaurant| %>
    <% if restaurant.active == true%>
      <div class="menu_titles col-xs-4 col-sm-4">
        <a href="#<%=restaurant.name.delete(?').tr(' ','').delete('()')%>" ><%=restaurant.name%></a>
      </div>
    <%end%>
  <%end%>
</div>
<div class="restaurant_menus col-xs-12">
  <%@restaurants.each do |restaurant| %>
    <div class="restaurant_menu" id="<%=restaurant.name.delete(?').tr(' ','').delete('()')%>_menu">
      <a name="menu"></a>
      <h3><%=restaurant.name%><a name="<%=restaurant.name%>"></a></h3>
      <%restaurant.categories.each do |category| %>
        <ul>
          <h4><%=category.name%>: <%=category.comment%></h4>
          <%category.menus.each do |menu| %>
            <li> <span class="full_menu_food_item"><%=menu.name%>:</span> <%=menu.details%></li>
          <%end%>
        </ul>
      <%end%>
    </div>
  <%end%>
</div>
</div>
<script>
  $(document).ready(function(){
    if (<%=@meals_remaining <= 5%>) {
      $(".meals_remaining").css("color", "red");
    }
  });
</script>
