<div class="container">
  <div class="user-info">
    <h2>
      <%="#{@customer.first_name} #{@customer.last_name}"%>
    </h2>
      <p>Plan selected: <%=@customer.plan %></p>
      <p class="meals_remaining">Meals remaining: <%=@meals_remaining %></p>
  </div>

  <% flash.each do |type, message| %>
    <p class="<%= type %>"><%= message %></p>
  <% end %>
  <div class="admin">
    <% if current_user.role === "admin" %>
      <%= link_to "Edit", edit_customer_path(@customer), class:  "btn btn-default"%>
    <%end%>
    <% if current_user.role === "admin"%>
      <%= link_to "Delete", customer_path(@customer), class: "btn btn-default", data: { confirm: 'Are you sure you want to submit this meal?' }, method: :delete%>
    <%end%>
  </div>

  <!-- Restaurants -->
  <div class="alert alert-info">Launching our referral program! Get $10 for each friend that signs up. Click link to get your unique code - <%= link_to "http://bit.ly/23sf3s", "http://bit.ly/23sf3s", target: "_blank"%></div>
  <%if @meals_remaining > 0 && @customer.verification === "true"%>
    <%@restaurants.each do |restaurant| %>
      <%if restaurant.active == true && (restaurant.is_open_one? || restaurant.is_open_two?)%>
        <div class="main-container">
          <span class="restaurant-title"><%=restaurant.name%></span>
          <div class="hours" >
            <span>Open <%=restaurant.opening_time_view(0)%> to <%=restaurant.closing_time_view(0)%>
              <%if (restaurant.check_business_hours_count_equals(2))%>
                & <%=restaurant.opening_time_view(1)%>-<%=restaurant.closing_time_view(1)%>
              <%end%>
            </span>
            <div class="main-button phone">
              <a href="tel:<%=restaurant.phone%>"><span class="phone-img">&nbsp;&nbsp;&nbsp;</span></a>
            </div>
          </div>
          <div class="main-button full-menu">
            <a  href="#menu">Full menu &nbsp;&nbsp;&nbsp;</a>
          </div>
          <div class="divider">

          </div>
          <div class="meal-form">
            <%= form_for [@customer,@meal], html: {id: "#{restaurant.id}"} do |f| %>
            <div class="meal-options">
              <%= f.grouped_collection_select(:food_item, restaurant.categories, :menus, :name, :id, :name, { :include_blank => 'Entree' }, class:"meal-entree", :required => true) %>
              <%= f.select(:side, {},{ :include_blank => 'Side' }, {id:(restaurant.id.to_s + "sides"), class:"meal-side", :required => true} )%>
            </div>
            <div class="order-type">
              <%if restaurant.in_restaurant_payment === true%>
              <%= f.label :order_ahead, 'Pay in restaurant', value: 'swipe' %>
              <%= f.radio_button :order_ahead, 'swipe',value: 'swipe', checked: true %>
              <%end%>
              <%if restaurant.order_ahead === true%>
              <%= f.label :order_ahead, 'Order in advance', value: 'order_ahead' %>
              <%= f.radio_button :order_ahead, 'order_ahead',value: 'order_ahead' %>
              <%end%>
              <%= f.hidden_field :status, value: "open" %>
            </div>
            <div class="meal-request">
              <%= f.text_field :comment, placeholder: "meal requests..." %>
              <%= f.hidden_field :restaurant_id, value: restaurant.id %>
            </div>
            <%= f.submit "Submit meal", data: { confirm: 'Are you sure you want to submit this meal?' }, class: 'main-button bold' %>
          </div>


          </div>
        <%end%>
      <%end%>
    <%end%>
  <%elsif @customer.verification === nil%>
    <%="Your account hasn't been verified yet. Please email us and we'll get you set up right away!"%>
  <%else%>
    <%="You're out of meals, please purchase more in order to continue"%>
  <%end%>
  <h3>Closed Restaurants:</h3>
  <%@restaurants.each do |restaurant| %>
    <% if restaurant.active == true && restaurant.is_closed?%>
      <div class="closed-restaurant">
        <div id="closed_restaurants">
          <%unless restaurant.has_business_hours?%>
            <p><%=restaurant.name %>: Unavailable Right Now</p>
          <%else%>
            <p><%=restaurant.name %> Hours Today: <%=restaurant.opening_time_view(0)%>-<%=restaurant.closing_time_view(0)%>
              <%if (restaurant.check_business_hours_count_equals(2))%>
                & <%=restaurant.opening_time_view(1)%>-<%=restaurant.closing_time_view(1)%>
              <%end%>
            </p>
          <%end%>
        </div>
      </div>
    <%end%>
<%end%>
<h3>Meal History (Last 10):</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <th>Meal #</th>
    <th>Date/Time</th>
    <th>Status</th>
    <th>Restaurant</th>
    <th>Meal</th>
    <th>Type</th>
    <%if current_user.role === "admin"%>
      <th>Cancel if open</th>
    <%end%>
    <%@meals.each do |meal| %>
      <tr>
        <td><%=meal.id%></td>
        <td><%=meal.created_at.strftime("%-m/%e/%y %l:%M%p")%></td>
        <td><%=meal.status%></td>
        <td><%=Restaurant.find(meal.restaurant_id).name%></td>
        <td>
          <%if Menu.exists?(meal.food_item) %>
            <%=Menu.find(meal.food_item).name%>
          <%end%>
        </td>
        <td>
          <% if meal.order_ahead === "swipe"%>
            In Restaurant
          <% elsif meal.order_ahead === "order_ahead"%>
            Ordered Ahead
          <%end%>
        </td>
        <% if current_user.role === "admin"%>
          <td>
            <%= link_to "Cancel", customer_meal_path(@customer, meal), class: "btn btn-default", method: :delete%>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>
<div class="menu-header">
  <h3>Full Menus:</h3>
  <div class="main-button">
    <a id="back_to_top" href="#top">Back to restaurants</a>
  </div>
  <div class="spacer"></div>
  <div class="menu-titles">
    <%@restaurants.each do |restaurant| %>
      <% if restaurant.active == true%>
        <a href="#<%=restaurant.name.delete(?').tr(' ','').delete('()')%>" ><%=restaurant.name%></a>
      <%end%>
    <%end%>
  </div>

</div>
  <%@restaurants.each do |restaurant| %>
    <div class="main-container restaurant_menu" id="<%=restaurant.name.delete(?').tr(' ','').delete('()')%>_menu">
      <a name="menu"></a>
      <h3><%=restaurant.name%><a name="<%=restaurant.name%>"></a></h3>
      <%restaurant.categories.each do |category| %>
        <div class="row">
          <div class="col-md-6 menu-entrees">
            <h4><%=category.name%> <%=category.comment%></h4>
              <%category.menus.each do |menu| %>
                <span class="entree-item"><%=menu.name%>: </span><span class="side-item"><%=menu.details%></span>
              <%end%>
          </div>


          <div class="col-md-6 menu-sides">
            <h4>Sides for <%=category.name%></h4>
            <%category.sides.each do |side| %>
              <span class="entree-item"><%=side.side_item%>: </span><span class="side-item"><%=side.details%></span>
            <%end%>
          </div>
        </div>
        <div class="divider"></div>
      <%end%>
    </div>
  <%end%>

</div>

<script>
  $(document).ready(function(){
    if (<%=@meals_remaining <= 5%>) {
      $(".meals_remaining").css("color", "red");
    }
  });
</script>
