<div class="jumbotron vertical-center">
  <div id="admin_meals">
    <table class="table">
          <th>Meals Paid Current Month</th>
          <th>Meals Paid 1st Half of Current Month</th>
          <th>Meals Paid 2nd Half of Current Month</th>
          <th>Last Month's Paid Meals</th>
          <th>Meals Paid 1st Half of Last Month</th>
          <th>Meals Paid 2nd Half of Last Month</th>
          <th>Total Meals Paid</th>
            <tr>
              <td><%=@meals_current_month%></td>
              <td><%=@first_half_current_month%></td>
              <td><%=@second_half_current_month%></td>
              <td><%=@meals_previous_month%></td>
              <td><%=@first_half_previous_month%></td>
              <td><%=@second_half_previous_month%></td>
              <td><%=@paid_meals%></td>
            </tr>
    </table>

  </div>


  <h3>Unpaid Meals</h3>
  <%= form_for @restaurant do |f| %>
    <div class="table-responsive">
      <table class="table">
        <th>Meal#</th>
        <th>Customer</th>
        <th>Meal</th>
        <th>Received</th>
        <th>Status</th>
        <th>Paid?</th>
        <%if current_user.role === "admin"%>
          <th>Select All<input type="checkbox" id="selectAll" value="selectAll"></th>
        <%end%>
        <%= f.fields_for :meals, @unpaid_meals do |t| %>
          <tr>
            <td>#<%=t.label t.object.id%></td>
            <td><%= t.label Customer.find(t.object.customer_id).name %></td>
            <td>
              <%if Restaurant.find(t.object.restaurant_id).menus.exists?(t.object.food_item) %>
              <%= t.label Restaurant.find(t.object.restaurant_id).menus.find(t.object.food_item).name  %>
              <%end%>

            </td>
            <td>  <%= t.label t.object.created_at.strftime("%m/%d/%y %I:%M%p") %></td>
            <td>  <%= t.label t.object.status %></td>
            <td>  <%= t.label t.object.payment %></td>
            <%if current_user.role === "admin"%>
              <td>  <%= t.check_box :payment, checked: false, class: "unpaid" %></td>
            <% end %>
          </tr>

          <%end%>
            <th></th>
            <th></th>
            <th></th>
            <%if current_user.role === "admin"%>
              <th></th>
            <%end%>
            <th>Meals unpaid: <%=@unpaid_meal_count%></th>
            <th>Amount owed: <%=number_to_currency(@amount_owed)%></th>

            <th> <%if current_user.role === "admin"%> <%= f.submit "Meals Paid"%><%end%></th>

        </table>

      </div>

  <%end%>
  <h3>Paid Meals</h3>
  <table class="table">
    <th>Meal#</th>
    <th>Customer</th>
    <th>Meal</th>
    <th>Meal requests</th>
    <th>Received</th>
    <th>Status</th>
    <th>Paid?</th>
    <th></th>
    <%@meals.each do |meal| %>
      <%if meal.status === "closed"%>
        <%if meal.payment === true%>
          <tr>
            <td><%=meal.id%></td>
            <td><%=Customer.find(meal.customer_id).name%></td>
            <td>

              <%if Restaurant.find(meal.restaurant_id).menus.exists?(meal.food_item) %>
              <%=Restaurant.find(meal.restaurant_id).menus.find(meal.food_item).name%>
              <%end%>
            </td>
            <td><%=meal.comment%></td>
            <td><%=meal.created_at.strftime("%m/%d/%y %I:%M%p")%></td>
            <td><%=meal.status%></td>
            <td><%=meal.payment%></td>
          <%end%>
        <%end%>
      <%end%>
    </table>
  </div>
