<div class="jumbotron vertical-center">
  <h3>Unpaid Meals</h3>
  <div class="table-responsive">
  <table class="table">
    <th>Customer</th>
    <th>Meal</th>
    <th>Received</th>
    <th>Status</th>
    <th>Paid?</th>
    <%if current_user.role === "admin"%>
      <th>Mark as Paid</th>
    <%end%>
    <%if current_user.role === "admin"%>
      <%= form_for @restaurant, id: 'edit_form' do |f| %>
        <%= f.fields_for :meals, @unpaid_meals do |t| %>
          <tr>
            <td><%= t.label Customer.find(t.object.customer_id).name %></td>
            <td>  <%= t.label t.object.food_item %></td>
            <td>  <%= t.label t.object.created_at.strftime("%m/%d/%y %I:%M%p") %></td>
            <td>  <%= t.label t.object.status %></td>
            <td>  <%= t.label t.object.payment %></td>
            <%= hidden_field_tag :payment, false %>
            <td>  <%= check_box_tag :payment, true, checked = false, {class: "unpaid"}%></td>
          </tr>
        <% end %>
        <th></th>
        <th></th>
        <%if current_user.role === "admin"%>
            <th></th>
        <%end%>
        <th>Meals unpaid: <%=@unpaid_meal_count%></th>
        <th>Amount owed: <%=number_to_currency(@amount_owed)%></th>
        <th>Select All<input type="checkbox" id="selectAll" value="selectAll"> <%= f.submit "Meals Paid"%></th>
      </table>
    </div>
    <%end%>
  <%end%>
  <h3>Paid Meals</h3>
  <table class="table">
    <th>Customer</th>
    <th>Meal</th>
    <th>Meal requests</th>
    <th>Received</th>
    <th>Status</th>
    <th>Paid?</th>
    <th></th>
    <%@meals.each do |meal| %>
      <%if meal.status === "closed"%>
        <%if meal.payment === true%>
          <tr>
            <td><%=Customer.find(meal.customer_id).name%></td>
            <td><%=meal.food_item%></td>
            <td><%=meal.comment%></td>
            <td><%=meal.created_at.strftime("%m/%d/%y %I:%M%p")%></td>
            <td><%=meal.status%></td>
            <td><%=meal.payment%></td>
          <%end%>
        <%end%>
      <%end%>
    </table>
  </div>
