<div class="container">
<% if current_user.role == "admin"%>
  <h2>Restaurants <%= link_to "(+)", new_restaurant_path %></h2>
<table class="table">
  <th>Restaurant</th>
  <th>Total Meals</th>
  <th>Meals Today</th>
  <th>Meals Yesterday</th>
  <th>Meals Past Week</th>
    <%@restaurants.each do |restaurant| %>
    <tr>
      <td><%=link_to restaurant.name, restaurant_path(restaurant) %></td>
      <td><%=restaurant.meals.all.count %></td>
      <td><%=restaurant.meals.where("created_at >= ?", Time.zone.now.beginning_of_day).count %></td>
      <td><%=restaurant.meals.where("created_at >= ? and created_at <= ?", @yesterday, @today).count %></td>
      <td><%=restaurant.meals.where("created_at >= ?", 1.week.ago).count %></td>
    </tr>
    <%end%>
  <th></th>
  <th>Total Meals: <%=@meals.all.count%> </th>
  <th>Today: <%=@meals.where("created_at >= ?", Time.zone.now.beginning_of_day).count%> </th>
  <th>Yesterday: <%=@meals.where("created_at >= ? and created_at <= ?", @yesterday, @today).count%></th>
  <th>Past 7 days: <%=@meals.where("created_at >= ?", 1.week.ago).count%></th>


  </table>
</div>
<%end%>
