<div class="jumbotron vertical-center">
  <h2><%=@restaurant.name %> <%= link_to "Edit", edit_restaurant_path(@restaurant), class: "btn btn-default"%></h2>
  <ul>
    <li><%= link_to "Menu", restaurant_categories_path(@restaurant), class: "btn btn-default"%></li>
    <li><%= link_to "Business Hours", restaurant_open_times_path(@restaurant), class: "btn btn-default"%></li>
    <li><%= link_to "Admin", admin_restaurant_path(@restaurant), class: "btn btn-default"%></li>
  </ul>
  <% if current_user.role == "admin"%>
    <%= link_to "Delete", restaurant_path(@restaurant),class: "btn btn-default", data: { confirm: 'Are you sure you want to submit this meal?' }, method: :delete%>
  <%end%>

    <h3>Take Out Meals Ordered Ahead</h3>
    <div class="table-responsive">
      <table class="table">
        <th>Meal#</th>
        <th>Customer</th>
        <th>Meal (Side)</th>
        <th>Received</th>
        <th>Pickup Time</th>
        <th>Status</th>
        <th>confirm</th>
        <%@meals.each do |meal| %>
          <%if meal.status === "open" || meal.is_cooking? %>
            <%if meal.order_ahead === "order_ahead"%>
              <tr>
                <td>#<%=meal.id%></td>
                <td><%=meal.customer.first_name%></td>
                <td>
                  <%if meal.restaurant.menus.exists?(meal.food_item) %>
                  <%=meal.restaurant.menus.find(meal.food_item).name%>
                  <%end%>
                  <%if meal.side !=nil && meal.side != "" && meal.restaurant.sides.exists?(meal.side) %>
                  (<%=meal.restaurant.sides.find(meal.side).side_item%>)
                  <%end%>
                </td>
                <td><%=meal.comment%></td>
                <td><%=meal.created_at.strftime("%-m/%d/%y %l:%M%p")%></td>
                <td><%=(meal.created_at + 25.minutes).strftime("%-m/%d/%y %l:%M%p")%></td>
                <td><%=meal.status%></td>
                <td>  <%= form_for [@restaurant, meal] do |f| %>
                    <%= hidden_field_tag :meal_id, meal.id %>
                    <%= hidden_field_tag :payment, meal.payment %>
                    <%if meal.status === "open"%>
                      <%= hidden_field_tag :status, "cooking" %>
                      <%= f.submit "Order Received"%>
                    <%elsif meal.is_cooking? %>
                      <%= hidden_field_tag :status, "closed" %>
                      <%= f.submit "Order Completed"%>
                    <%end%>
                  <%end%>
                </td>
              </tr>

          <%end%>
        <%end%>
      <%end%>
    </table>
    </div>

  <h3>In Restaurant Meal Orders</h3>
  <div class="table-responsive">
    <table class="table">
      <th>Meal#</th>
      <th>Customer</th>
      <th>Meal (Side)</th>
      <th>Meal Requests</th>
      <th>Received</th>
      <th>Status</th>
      <th>confirm</th>
      <%@meals.each do |meal| %>
        <%if meal.status == "open" %>
          <%if meal.order_ahead == "swipe" %>
            <tr>
              <td>#<%=meal.id%></td>
              <td><%=meal.customer.first_name%></td>
              <td>
                <%if meal.restaurant.menus.exists?(meal.food_item) %>
                <%=meal.restaurant.menus.find(meal.food_item).name%>
                <%end%>
                <%if meal.side !=nil && meal.side != "" && meal.restaurant.sides.exists?(meal.side) %>
                (<%=meal.restaurant.sides.find(meal.side).side_item%>)
                <%end%>
              </td>
              <td>(<%=meal.comment%>)</td>
              <td><%=meal.created_at.strftime("%m/%d/%y %I:%M%p")%></td>
              <td><%=meal.status%></td>
              <td>  <%= form_for [@restaurant, meal] do |f| %>
                  <%= hidden_field_tag :meal_id, meal.id %>
                  <%= hidden_field_tag :payment, meal.payment %>
                  <%= hidden_field_tag :status, "closed" %>
                  <%= f.submit "Confirm meal"%>
                <%end%>
              </td>
            </tr>
          <%end%>
        <%end%>
      <%end%>
    </table>
  </div>

</div>
