<%= form_for [@restaurant, @category, @side] do |f| %>
  <div class="form-group">
    <%= f.label :side_item %>
    <%= f.text_field :side_item, maxlength: 30%>
  </div>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <%= f.submit%>
<%end%>
