<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Elevate Meal Plan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto+Condensed', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <a  href="/">
        <%= image_tag "elevatelogo.png", class: "img-responsive" %>
      </a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user%>
          <% if current_user.role === "restaurant"%>
          <% if current_user.restaurants.count ===0%>
          <li><%=link_to "New Restaurant", new_user_restaurant_path(current_user, @restaurant)%></li>
          <%end%>
          <%end%>
          <%end%>

            <% if current_user%>
            <% if current_user.role === "restaurant"%>
            <% if current_user.restaurants.count >0%>
            <li><%=link_to "Restaurant Profile", user_restaurant_path(current_user, current_user.restaurants[0])%></li>
            <%end%>
            <%end%>
            <%end%>

          <% if current_user%>
          <% if current_user.role == "admin" %>
          <li><%= link_to "Restaurants", restaurants_path%></li>
          <%end%>
          <%end%>

          <% if current_user %>
          <% if current_user.role == "admin"%>
          <li><%= link_to "Customers", customers_path%></li>
          <% elsif current_user.role == "customer"%>
          <% if current_user.customers.count >0%>
          <li><%= link_to "Order", user_customer_path(current_user, current_user.customers[0])%></li>
          <%end%>
          <%end%>
          <%end%>

          <% if current_user %>
          <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
          <li><%= link_to "Account Settings", edit_user_registration_path(current_user) %></li>
          <% else %>
          <li><%= link_to 'Signup', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>



  </header>
  <%= yield %>

</body>
</html>
